$bg-w: 1098px;
$bg-h: 600px;

.background {
  overflow: hidden;
  z-index: -1;
  position: absolute;
  top: 0;
  width: $bg-w;
  height: 100%;
  background: repeating-linear-gradient( #222222 0px 2px, transparent 2px 20px),
  repeating-linear-gradient( 90deg, #222222 0px 2px, transparent 2px 20px),
  steelblue;
  background: #111155;
  .background-svg {
    width: 100%;
    height: 100%;
    animation-name: skyColor;
    animation-duration: 86400s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .satellites {
    .sun, .moon {
      display: flex;
      justify-content: stretch;
      align-items: stretch;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 50%;
      left: -100px;
      transform-origin: center center;
      animation-name: moveXSatellite, moveYSatellite;
      animation-duration: 86400s, 86400s;
      animation-timing-function: ease-in-out, ease-in-out;
      animation-iteration-count: infinite, infinite;
    }
    .sun {
      fill: yellow;
    }
    .moon {
      fill: white;
    }
  }
  .clouds {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    .cloud {
      fill: #fefefeee;
      position: absolute;
      display: flex;
      justify-content: stretch;
      align-items: stretch;
      width: 200px;
      height: 100px;
      top: 50%;
      left: 0px;
      animation-name: moveX, fade;
      animation-duration: 5s, 5s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
    }
  }
}

@keyframes fade {
  0% {
    filter: opacity(0.01);
  }
  10% {
    filter: opacity(1);
  }
  90% {
    filter: opacity(1);
  }
  100% {
    filter: opacity(0.01);
  }
}

@keyframes moveX {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX($bg-w) translateX(0px);
  }
}

@keyframes moveXSatellite {
  0% {
    left: -100px;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes moveYSatellite {
  0% {
    top: 50%;
  }
  25% {
    top: 5%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 50%;
  }
}

@keyframes skyColor {
  0% {
    background-color: #00000c; // rgba(0,0,12,0);
  }
  4% {
    background-color: #00000c; // rgba(0,0,12,0);
  }
  8% {
    background-color: #020111; // rgba(2,1,17,0);
  }
  12% {
    background-color: #020111; // rgba(2,1,17,0);
  }
  16% {
    background-color: #020111; // rgba(2,1,17,0);
  }
  20% {
    background-color: #20202c80; // rgba(32,32,44,0.5);
  }
  25% {
    background-color: #40405ccb; // rgba(64,64,92,.8);
  }
  29% {
    background-color: #4a4969; // rgb(74,73,105);
  }
  33% {
    background-color: #757abf; // rgb(117,122,191);
  }
  37% {
    background-color: #82addb; // rgb(130,173,219);
  }
  41% {
    background-color: #94c5f8; // rgb(148,197,248);
  }
  45% {
    background-color: #b7eaff; // rgb(183,234,255);
  }
  50% {
    background-color: #90dffe; // rgb(144,223,254);
  }
  54% {
    background-color: #57c1eb; // rgb(87,193,235);
  }
  58% {
    background-color: #2d91c2; // rgb(45,145,194);
  }
  62% {
    background-color: #2473ab; // rgb(36,115,171);
  }
  66% {
    background-color: #1e528e; // rgb(30,82,142);
  }
  70% {
    background-color: #1e528e; // rgb(30,82,142);
  }
  75% {
    background-color: #154277; // rgb(21,66,119);
  }
  79% {
    background-color: #163c52cb; // rgba(22,60,82,0.8);
  }
  83% {
    background-color: #071b2680; // rgba(7,27,38,.5);
  }
  87% {
    background-color: #010a104b; // rgba(1,10,16,.3);
  }
  91% {
    background-color: #090401; // rgba(9,4,1,0);
  }
  95% {
    background-color: #00000c; // rgba(0,0,12,0);
  }
  100% {
    background-color: #00000c; // rgba(0,0,12,0);
  }
}