.profile {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: auto;
  background: #fff0f5;
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.5em;
    border-radius: 0.5em;
    .icons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 0.5em;
      background-color: #ffffff77;
    }
    .profile-avatar-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 200px;
      border-radius: 100%;
      margin: 0.1em;
      animation: 5s 1s ease-in-out infinite running rotate;
      background: conic-gradient( #ffffff88 0%, #000000 25% 75%, #ffffff88 100%);
      .profile-avatar {
        animation: 5s 1s ease-in-out infinite reverse rotate;
        width: 100%;
        height: 100%;
        padding: 0.4em;
        border-radius: 100%;
        object-fit: cover;
      }
    }
  }
  .profile-name {
    font-size: 3em;
    margin-top: 1em;
    padding: 0;
  }
  .profile-title {
    font-size: 1em;
    margin: 0;
    padding: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}