.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2em;
  .profile-avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background: radial-gradient(circle at left, #ee6622 20%, #000000 60%);
    border-radius: 100%;
    margin: 0.1em;
    animation: 10s linear infinite running rotate;
    .profile-avatar {
      animation: 10s linear infinite reverse rotate;
      width: 100%;
      height: 100%;
      padding: 0.4em;
      border-radius: 100%;
      object-fit: cover;
    }
  }
  .profile-name {
    font-size: 2em;
    margin: 0;
    padding: 0;
  }
  .profile-title {
    font-size: 1em;
    margin: 0;
    padding: 0;
  }
}

.icon {
  display: inline-flex;
  width: 25px;
  height: 25px;
  margin: 0.5em;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}