.profile {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 0.2em;
  background: linear-gradient(90deg, #eeeeee40 0%, #eeeeee88 3% 97%, #eeeeee40 100%);
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.5em;
    border-radius: 0.5em;
    .icons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 0.5em;
      background-color: #ffffff77;
    }
    .profile-avatar-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 200px;
      border-radius: 100%;
      margin: 0.1em;
      animation: 5s 1s ease-in-out infinite running rotate;
      background: radial-gradient(circle at top, #ffffff88 0% 5%, #000000 25%);
      .profile-avatar {
        animation: 5s 1s ease-in-out infinite reverse rotate;
        width: 100%;
        height: 100%;
        padding: 0.4em;
        border-radius: 100%;
        object-fit: cover;
      }
    }
  }
  animation: 1s linear running appear;
  footer {
    background: linear-gradient( #000000 4%, #cfdfff 4% 96%, #000000 96%);
    padding: 0.5em;
    border-radius: 0.5em;
    margin-top: 1em;
    .profile-name {
      font-size: 3em;
      margin: 0;
      margin-bottom: 0.1em;
      padding: 0;
    }
    .profile-title {
      font-size: 1em;
      margin: 0;
      margin-bottom: 0.5em;
      padding: 0;
    }
  }
}

@keyframes appear {
  0% {
    filter: opacity(0) blur(0.5em);
  }
  100% {
    filter: opacity(1) blur(0.01em);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}